<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>My first web application</display-name>
    <description>The description of web application deploiement</description>

    <!-- Definition du servlet -->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>h.hamza.servlets.HelloServlet</servlet-class>
        <init-param>
            <param-name>Author</param-name>
            <param-value>Hamza HRAMCHI</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <!---->

</web-app>